.cloud
{
	position: absolute;
	top:0px; left:0px;
	width: 100%;
	height: 100%;
	background-color: #00ff00;
}

#touch
{
	position: absolute;
	top:0px; left:0px;
	width: 100%;
	height: 100%;
}


.closeBtn
{
	position: absolute;
	top:0px;
	right:0px;
	width:30px;
	height:30px;
	background-image: url(../gfx/X.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 905;
}

.list
{
	color: #efefef;
	background-repeat:no-repeat;
	padding-left: 10px;
	text-shadow: 0px 1px 0px #494949;
	font-weight: bold;
	border-width: 0px;
	border-style: none;
}

.pinchLayer_enabled
{
	position: absolute;
	z-index: 1000;
	top:0px; left:0px;
	color: #ffffff;
	opacity: 0;
}

.pinchLayer_disabled
{
	position: absolute;
	z-index: 0;
	top:0px; left:0px;
	color: #ffffff;
	opacity: 1.0;
	background-color: #000000;
}

.pinchInfo
{
	position: absolute;
	top:0px; left:0px;
	z-index: 999;
	color: #ff0000;
}

.tagPanel
{
	background-color:#ff0000;
	z-index:700;
}

.debugItem_tag, .debugItem_pinchLayer
{
	color: #cfcfcf;
	font-size: 11px;
	padding-left: 2px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	border-radius: 5px;
}

.debugItem_tag			{ background-color: #92102f; }
.debugItem_pinchLayer 	{ background-color: #10921f; }

.layer_dummy
{
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #494949;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2697ab), to(#1a8092));
	height: auto;
    width: auto;
}

.layer0
{
	position: absolute;
	background-color: #1a8092;
	color: #efefef;
	font-weight: bold;
	height: auto;
    width: auto;
   /*  z-index: 900; */
    padding-left: 5px;
    padding-right: 5px;
	/*text-shadow: 0px 2px 3px #555;*/
}

.tag_inactive
{
	position: absolute;
	color: #efefef;
	font-weight: bold;
   /*  z-index: 900; */
    padding-left: 5px;
    padding-right: 5px;
	/*text-shadow: 0px 2px 3px #555;*/
	width:auto;
	height:auto;
}

.tag_active
{
	position: absolute;
	/* background-color: #1841BA; */
	color: #efefef;
	font-weight: bolder;
   /* z-index: 900; */
    padding-left: 5px;
    padding-right: 5px;
	text-shadow: 0px 2px 3px #555;
	/* text-shadow: 0px 1px 0px #404040;*/
	/* border-radius: 10px; */
	width:auto;
	height:auto;
}

.layer1
{
	position: absolute;
	background-color: #3acf2f;
	color: #efefef;
	font-weight: bold;
	z-index: 901;
	height: auto;
    /* width: auto; */
}

.layer2
{
	position: absolute;
	background-color: #ffcf2f;
	font-weight: bold;
	height: auto;
    width: auto;
/*     z-index: 902; */
}

.layer3
{
	position: absolute;
	background-color: #ff0800;
	font-weight: bold;
	height: auto;
    width: auto;
    /*z-index: 903;*/
}

.test
{
	position: absolute;
	width:1024px;
	height:20px;
	z-index: 999;
	top: 0px;
	left: 0px;
	opacity: 1;
}


/*########################################*/
/*PICTURE PREVIEW*/

.picturePreviewPanel
{
	margin-top: 25px;
	height: 50px;
	width: 2300px;
}

.picturePreview
{
	margin-left:1px;
	float: left;
	/* background-color:#00ff00; */
	background-image:url(../gfx/picture_preview_back.png);
	background-repeat: no-repeat;
	padding:3px 3px 3px 3px;
}

.imgprev
{
	width: 54px;
	height: 38px;
}

/*########################################*/
/*ARTICLE PREVIEW*/

.articlePreviewPanel
{
	height: 280px;
	width: 8000px;
}

.articlePreview
{
	margin-left:5px;
	margin-top:5px;
	float: left;
	width: 466px;
	height: 130px;
	background-image:url(../gfx/article_preview_back.png);
	background-repeat: repeat;
	border-radius: 4px;
	padding:5px 5px 5px 5px;
}
.articlePreviewLeft
{
	width: 205px;
	height: 122px;
	float:left;
}

.articlePreviewRight
{
	width: 249px;
	height: 122px;
	float:left;
	padding-left:2px;
	color: #ffffff;
	font-size: 12px;
}

.articlePreviewRight h1
{
	color: #49b7ff;
	font-size: 12px;
	font-weight: bolder;
}

.artprev
{
	width: 190px;
	height: 118px;
}
